
.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 150px);
}

.grid-container > div {
  padding: 10px;
  background-color: #EFCB68;
  border-radius: 5px;
  display: grid;
  place-items: center;
}

.grid-container > div {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.grid-new > div {
  background-color: red;
}

/*
table.divTable{
	-display: table;
  -font-family: "Comic Sans MS", cursive, sans-serif;
  -font-size: 19px;
  -font-weight: bold;
  -border: 2px solid #4F7849;
  background: #CEE0CC;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

@for $i from 1 through 5 {
  .element:nth-child(#{$i}) {
    left: random(180) + px;
    top: random(180) + px;
  }
}
.target {
  top: random(180) + px;
  left: random(180) + px;
}
*/